{% extends 'base1.html.twig' %}
{% block accueil %}
    {{ 'class=" "' }}
{% endblock %}
{% block titre_page_li %}
    {{ 'Réservation' }}
{% endblock %}
{% block titre_page_h1 %}
    {{ 'Gestion des réservations contrat' }}
{% endblock %}
{% block contenus %}
    <div class="row" id="charge_contrat">
        <div class="col-md-12">
            <div class="panel panel-default dark-overlay">
                <div class="panel-heading">
                    Finalisation du demande de réservation faites par {{ reservation[0].nomClient }}
                </div>
                <div class="panel-body row">
                    <div class="col-md-12">
                        <div class="panel panel-primary panel-body row">
                            <div class="col-md-12">
                                <div class="panel panel-blue">
                                    <div class="panel-heading dark-overlay">
                                        Détail du bien
                                    </div>
                                    <div class="panel-body row">
                                        <ul class="col-md-4 ul_detail">
                                            <li>
                                                <span class="droite"> nom  </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> adresse </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> localité </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> type </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> proprietaire </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> montant </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> caution </span> :
                                            </li>
                                        </ul>
                                        <ul class="col-md-8 ul_detail">
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].nomBien }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].adresse }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].nomVille ~", "~reservation[0].nomQuartier }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].nomTypeBien }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].nomComplet }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].prixLoc}} fcfa </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> 50000 fcfa </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->
                            <div class="col-md-12">
                                <div class="panel panel-blue">
                                    <div class="panel-heading dark-overlay">
                                        Détail du client
                                    </div>
                                    <div class="panel-body row">
                                        <ul class="col-md-4 ul_detail">
                                            <li>
                                                <span class="droite"> prénom & nom  </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> Numéro cni </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> adresse </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> e-mail </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> téléphone </span> :
                                            </li>
                                        </ul>
                                        <ul class="col-md-8 ul_detail">
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].nomClient }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].Client_cni }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].Client_adresse }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].Client_email }} </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].Client_telephone }} </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->
                            <div class="col-md-12">
                                <div class="panel panel-blue">
                                    <div class="panel-heading dark-overlay">
                                        Formalité du contrat
                                    </div>
                                    <div class="panel-body row">
                                        <ul class="col-md-4 ul_detail">
                                            <li>
                                                <span class="droite"> Mensualité  </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> Caution </span> :
                                            </li>
                                            <li>
                                                <span class="droite"> Total </span> :
                                            </li>
                                            <li>
                                                <form method="POST" class="form-group">
                                                    <div class="checkbox">
                                                        <label style="font-weight: bold;">
                                                            <input type="checkbox" id="contrat_renouvable" value="contrat de 1 an renouvelable"> Contrat de 1 an renouvelable
                                                        </label>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                        <ul class="col-md-8 ul_detail">
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].prixLoc }} fcfa </span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> 50000 fcfa</span>
                                            </li>
                                            <li>
                                                <span class="faux_droite"> {{ reservation[0].prixLoc + 50000 }} fcfa </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->
                            <div class="col-md-12">
                                <div class="panel panel-blue">
                                    <div class="panel-heading dark-overlay">
                                        Terme du contrat
                                    </div>
                                    <div class="panel-body row">
                                        <div class="col-md-12">
                                            <form method="POST" class="form-group">
                                                <div class="form-group">
                                                    <label>termes et conditions</label>
                                                    <textarea id="aImprimer" class="form-control" readonly="true" rows="15">
                                                        CONTRAT DE LOCATION
CONDITIONS GENERALES DE LA LOCATION
Les parties désignées aux conditions particulières ci-jointes, ont établi le présent contrat en conformité avec les
textes en vigueur au moment de la signature et notamment la loi n° 89-462 du 6 juillet 1989.
Dans le cas où le logement loué a fait l’objet d’une convention passée entre l’Etat et le bailleur, en application de
l’article L 351.2 du Code de la Construction et de l’Habitation, ladite convention, dont le numéro est indiqué sur le
contrat de location, est tenue à disposition permanente du locataire qui peut en prendre connaissance dans les
bureaux de la Société. Cette convention ouvre au locataire, pendant sa durée, le droit à l’Aide Personnalisée au
Logement (APL).
Les parties ont convenu des conditions générales suivantes :
Article premier : Destination
Le bailleur loue au locataire, qui accepte, les locaux désigné et décrits aux conditions particulières, la présente
location étant faite à usage exclusif d'habitation. En conséquence, le locataire ne pourra y exercer, même dans
une partie, aucune activité commerciale, artisanale, libérale ou industrielle sans autorisation expresse et écrite du
bailleur.
Le logement loué constitue la résidence principale effective du locataire.
Le locataire aura la jouissance des lieux à compter de la date de prise d'effet du contrat, telle qu'elle est indiquée
aux conditions particulières.
Le locataire déclare avoir pris connaissance du décompte de surface corrigée qui lui a été remis avec le présent
contrat. Ce décompte pourra être contesté dans un délai de deux mois à compter de la signature du contrat.
L'occupation des locaux loués étant strictement réservée au locataire qui doit y établir son habitation principale, le
présent contrat est incessible et intransmissible.
Le locataire s’interdit, sous peine de dommages et intérêts, de ne prendre aucune initiative pouvant avoir pour
objet ou pour effet de mettre le bailleur en présence d’un autre occupant.
Cependant, en cas d'abandon de domicile par le locataire, ou de décès du locataire, le contrat pourra continuer
dans les conditions définies à l'article 14 de la loi du 6 juillet 1989.
A défaut d'ayant-droit mentionné par cet article, le contrat est résilié de plein droit par le décès du locataire ou par
l'abandon de domicile de ce dernier.
Le locataire ne pourra sous-louer les lieux loués, même partiellement.
Article 2 : Durée et renouvellement
Le contrat de location est conclu pour la durée précisée aux conditions particulières.
La durée du contrat renouvelé ou tacitement reconduit est la même que celle fixée initialement aux conditions
particulières.
Article 3 : Conditions financières de la location
Le locataire aura à payer le loyer, les charges locatives, éventuellement les réparations locatives s’il en a été fait
pour son compte, et aura à verser un dépôt de garantie.
3.1 Le loyer
Le loyer initial de la présente location est fixé au montant indiqué aux conditions particulières, conformément à la
réglementation sur les logements conventionnés.
Le loyer est payable chaque mois à terme échu pour les locations conventionnées ou à terme à échoir pour les
locations non conventionnées et exigible dès le 1er du mois même en l'absence d'avis d'échéance.
Le prix du loyer est révisable conformément à la législation en vigueur et aux clauses de la convention passée
entre l’Etat et le bailleur.
En cas de dépassement des plafonds de ressources, la législation impose la perception d’un supplément de
loyer appelé « supplément de loyer de solidarité (SLS)» appliqué suivant un barème réglementaire.
Le bailleur s'engage à remettre au locataire, sur sa demande et après paiement intégral du loyer et des sommes
accessoires, une quittance; ou un reçu des sommes versées.
Le bailleur s'engage à tenir à la disposition du locataire les documents nécessaires à l'ouverture du dossier d'aide
personnalisée au logement.
3.2 : Le Dépôt de garantie
En garantie de l'exécution par le locataire de ses obligations locatives, celui-ci constitue au jour de la signature du
présent contrat, un dépôt de garantie équivalent à un mois de loyer en principal fixé aux conditions particulières.
Le dépôt de garantie sera restitué au locataire dans un délai maximum de deux mois à compter de son départ,
déduction faite, le cas échéant, des sommes restant dues au bailleur, et des sommes dont celui-ci pourrait être
tenu au lieu et place du locataire, sous réserve qu'elles soient dûment justifiées.
Par ailleurs, si le dépôt de garantie n'est pas restitué dans le délai de 2 mois à compter de la remise des clés,
sauf accord contraire et écrit entre les parties, le solde du dépôt de garantie restant dû au locataire après arrêté
des comptes produira intérêt à taux légal au profit du locataire.
Le montant de ce dépôt de garantie ne porte pas intérêt au bénéfice du locataire. Il ne peut faire l'objet d'aucune
révision durant l'exécution du contrat de location, éventuellement renouvelé.
A aucun moment le locataire, pour se dispenser d’acquitter le loyer et ses accessoires à l’échéance, ne pourra
s’autoriser du versement de ce dépôt, celui-ci devant conserver rigoureusement son caractère de garantie
3.3 : Les charges locatives
Outre le loyer, le locataire remboursera au bailleur les charges locatives, exigibles sur justification, telles qu'elles
sont définies par l'article 23 de la loi du 6 juillet 1989 et le décret d’application.
Des acomptes mensuels, au titre de provisions pour charges, sont réclamés au locataire, en attente de la
régularisation annuelle. Ces provisions peuvent être modifiées en cours d’année, sous réserve de donner toutes
précisions justifiant cette modification. Les demandes de provisions sont justifiées par la communication annuelle
des résultats antérieurs arrêtés lors de la précédente régularisation, par le budget prévisionnel.
Un mois avant cette régularisation, le bailleur en communique au locataire le décompte par nature de charges
ainsi que, dans les immeubles collectifs, le mode de répartition entre les locations. Pendant ce délai d’un mois , le
locataire peut prendre connaissance des documents de gestion (factures, contrats) ayant permis l’établissement
de ce décompte.
Le montant de ces provisions ne peut en aucun cas constituer un engagement de la part du bailleur.
Les provisions sont normalement définies par un exercice de charges entier et sont exigibles après le délai légal
d’un mois qui suit l’envoi du décompte.
La valeur des acomptes mensuels lors de la prise d'effet du bail est indiquée aux conditions particulières.
Dans le cas où la location ne sera effective que pendant une partie de l'exercice, la part des charges imputables
au locataire, quelle que soit leur nature, sera déterminée au prorata de la durée de la location.
3.4 : les réparations locatives
Le locataire doit prendre à sa charge les réparations locatives définies par décret.
Les dépenses de petit entretien et les menues réparations sont à la charge du locataire à l'exception des
réparations occasionnées par la vétusté, les malfaçons, les vices de construction, les cas fortuits ou de force
majeure qui sont à la charge du bailleur.
Cependant, si les locataires sont en mesure d'établir qu'une erreur de conception ou un vice de réalisation
empêche l'usage normal de l'élément litigieux de la chose louée et se trouve être la cause de la fréquence de ces
menues réparations, le propriétaire devra en supporter les conséquences financières.
Au titre des réparations locatives sur les éléments de la chose louée, sont donc « récupérables » auprès des
locataires les dépenses d'entretien courant et de menues réparations d'installations individuelles figurant au III de
l'annexe au décret n° 82-955 du 9 novembre 1982 modifié, et effectuées par le bailleur pour le compte du
locataire.
Il répondra des dégradations et pertes qui surviennent pendant la durée du contrat, dans les locaux dont il a la
jouissance exclusive, à moins qu’il ne prouve qu’elles ont eu lieu par cas de force majeure, par faute du bailleur
ou par le fait d’un tiers qu’il n’a pas introduit dans le logement.
Il pourra aménager les locaux loués à condition que ces aménagements ne constituent en aucun cas une
transformation de ceux-ci, sauf accord conformément à l’article 10.
La signature du contrat de location vaut adhésion aux différents contrats d’entretien pour les groupes
d’immeubles dont le locataire accepte de prendre à sa charge la quote-part locative le concernant.
3.5 : les grosses réparations
Après avoir au préalable prévenu les habitants lorsqu'un trouble de jouissance prolongé doit en résulter, le
bailleur peut faire exécuter dans l'immeuble toutes réparations, tous travaux de transformation, de surélévation ou
d'aménagement qu'elles qu'en soient les causes, le tout sans indemnité, ni diminution de loyer.
Toutefois, conformément à l’article 1724 du code civil, si les travaux dans le logement durent plus de 40 jours et
empêchent l’utilisation du logement, le loyer sera, à l'expiration de ce délai, diminué à proportion du temps et de
la partie des lieux loués dont le locataire aura été privé.
Article 4 : Clause résolutoire
A défaut de paiement de tout ou partie d'un seul terme du loyer (en principal, charges et taxes) à son échéance,
du versement du dépôt de garantie, et deux mois après un commandement de payer signifié à personne, à
domicile élu ou en mairie, et resté infructueux, la présente location sera résiliée de plein droit, s'il plaît au bailleur,
sans que ce dernier ait à faire la preuve d'aucun préjudice.
En cas de paiement par chèque, la quittance délivrée ne sera considérée comme libératoire qu'après son
encaissement. La présente clause résolutoire sera acquise au bailleur au cas où le chèque ne serait pas
approvisionné.
La clause résolutoire mentionnée ci-dessus est également applicable, un mois après un commandement de se
conformer aux clauses du contrat resté infructueux :
- à défaut de souscription d’une assurance contre l’incendie, les explosions et les dégats des eaux par le
locataire,
- en cas de non respect d’une obligation d’user paisiblement des locaux loués, résultant de troubles de voisinage
constatés par une décision de justice passée en force de chose jugée.
Une fois acquis au bailleur le bénéfice de la présente clause résolutoire, l'expulsion du locataire aura lieu sur
simple ordonnance de référé de Monsieur le Président du Tribunal de Grande Instance de TOURS.
Par ailleurs, en cas de non respect des autres obligations contractuelles et notamment sur la modification des
lieux, la, non occupation personnelle, la cession, la subrogation du droit au bail, la sous-location totale ou
partielle, et un mois après un commandement de se conformer aux clauses du contrat restée infructueux, le
bailleur se réserve le droit de poursuivre la résiliation judiciaire du bail et l’expulsion du locataire et des
occupants.
Article 5 : Début et fin de la location
5.1 : L’état des lieux d’entrée
Un état des lieux contradictoire et contresigné par les deux parties sera établi et annexé au présent contrat. II
consignera l'état des locaux et de ses équipements, notamment sur les parties immobilières et sur les
installations et équipements annexes (électricité, plomberie, appareillages sanitaires et autres matériels ou
mobiliers d'équipement). Les observations constatées dans le logement ne donnent pas forcément lieu à la
réalisation de travaux.
Les anomalies cachées, les anomalies de fonctionnement, qui n'auraient pu être décelées lors de l'établissement
de l'état des lieux devront être signalées par le locataire dans un délai de 20 jours.
L’état des lieux contradictoire servira au calcul du montant des réparations locatives, à régler au terme de la
location, compte tenu des travaux qui devraient être effectués par le bailleur.
5.2 : Le congé
II pourra être donné congé à la volonté du locataire et du bailleur. Le délai de préavis est de trois mois lorsqu'il
émane du locataire et de six mois lorsqu'il émane du bailleur.
Le délai de préavis applicable au congé donné par le locataire est ramené à un mois en cas de mutation, de perte
d'emploi, de premier emploi, de nouvel emploi consécutif à une perte d’emploi ou lorsque le locataire est âgé de
plus de 60 ans et que son état de santé justifie un changement de domicile, ou s'il est bénéficiaire du Revenu
Minimum d'Insertion,. Le délai de préavis est de deux mois si le locataire quitte le logement objet du présent bail
pour habiter un autre logement HLM conventionné. Dans tous les cas le locataire devra justifier de la situation
qu’il entend faire valoir pour obtenir une réduction du préavis.
Le congé doit être notifié par lettre recommandée avec demande d'avis de réception ou signifié par acte
d’huissier. Il court à compter du jour de la réception de la lettre recommandée ou de la signification de l’acte
d’huissier.
Le congé donné par l’un des colocataires n’a pas pour effet de faire cesser la solidarité existant au profit du
bailleur. Ainsi, le locataire sortant demeure tenu solidairement du paiement des loyers, charges, et autres
sommes dues ou à venir pendant une période maximum de 5 ans ou jusqu’à la libération totale du logement par
tous les autres colocataires.
Pendant le délai de préavis, le locataire n’est redevable du loyer et des charges que pour le temps où il a occupé
réellement les lieux si le congé a été notifié par le bailleur. Si le congé est notifié par le locataire alors celui-ci
reste redevable du loyer et des charges alors même qu'il n'occuperait plus le logement et pour autant que le
logement n'a pas fait l'objet d'un bail au profit d'un nouveau locataire avant la fin du préavis.
A l'expiration du délai de préavis, le locataire est déchu de tout titre d'occupation des locaux loués : la libération
des lieux devra être effective pour lui même et tout occupant introduit par lui. A défaut, la facturation du loyer et
des charges se poursuivra jusqu’à la libération effective des lieux.
5.3 : Le départ du locataire
Dès la notification du congé, et pendant la durée du préavis stipulé à l'article 5.2 ci-dessus, le locataire devra
permettre la visite des lieux loués, en vue d’une nouvelle location deux heures par jour ouvrable, et ce après
accord avec le bailleur.
Le jour de la remise des clés, qui devra obligatoirement être un jour ouvrable, le locataire ou le cas échéant son
représentant dûment mandaté, restituera au représentant du bailleur le jeu complet des clés de son logement, de
sa boîte aux lettres, des divers locaux communs auxquels il avait accès, étant précisé qu'il s'interdit d'en
conserver aucune sous peine de prendre à sa charge le remplacement de la ou des serrures concernées.
La restitution des clés par anticipation, même dans le cas d’un accord écrit entre les parties, n’est pas libératoire.
Le locataire reste redevable des loyers et charges jusqu’à la fin du préavis.
Par ailleurs, le même jour, et dans la mesure où les locaux sont entièrement vides, il sera dressé un état des lieux
contradictoire.
A défaut, l'état des lieux pourra être établi par huissier de justice à l'initiative de la partie la plus diligente et à frais
partagés par moitié.
Le locataire s'engage a justifier du paiement des taxes fiscales par la production de quittances mais aussi à
laisser le logement et ses annexes, vides, en bon état de propreté, faute de quoi tous frais de débarras, ménage
et nettoyage seraient également mis à sa charge. Il aura également à sa charge les réparations locatives définies
par décret en Conseil d'Etat pris en vertu de l'article 7 d) de la loi du 6 juillet 1989.
Si après un congé ou un délaissement des lieux, des meubles, objets, effets et tous résidus de quelque sorte sont
laissés dans les lieux loués, ils seront considérés comme abandonnés dès expiration d'un délai d'un mois à
compter du départ effectif, ou d’éléments objectifs d’abandon du logement. Les effets pourront être néanmoins
enlevés du logement ou de ses annexes le jour de l’état des lieux, aux frais du locataire, et à charge pour ce
dernier de les récupérer dans le délai légal.
Suite à l’établissement de l’état des lieux sortant, une liquidation de compte sera effectuée avec imputation, s’il en
subsiste, des réparations locatives non effectuées.
5.4 : L’état des lieux de sortie
Au départ du locataire, une visite contradictoire des lieux loués est effectuée en présence du représentant du
bailleur et du locataire, et le cas échéant, de son représentant dûment mandaté. Les parties constatent qu'il a été
procédé à cette visite à la suite de laquelle un état des lieux précis a été établi et signé par elles.
A l'entrée comme au départ du locataire, à défaut d'état des lieux établi contradictoirement entre les parties, un
état des lieux sera établi par un huissier de justice, à l'initiative de la partie la plus diligente; les frais seront dans
ce cas partagés par moitié.
En cas de départ donné et effectif, après plusieurs relances et absence d’état des lieux de sortie contradictoire, le
locataire autorise le bailleur à pénétrer dans les lieux pour effectuer l’état des lieux par huissier, sans avoir besoin
de requérir une autorisation judiciaire à cet effet. La même disposition sera applicable en cas d’abandon total des
lieux par le locataire sans remise de clés.
Article 6 : Assurances
6.1 : Assurance du locataire
Le locataire s’engage : - à souscrire, dès la remise des clés, des polices d'assurance couvrant les risques
locatifs qu'il encourt en tant que locataire (et qui correspondent aux responsabilités prévues aux articles 1732 à
1735 du Code Civil, incendie, dégât des eaux, explosions de toute nature et recours des voisins);
 - à maintenir ces assurances pendant toute la durée de la location, en payer
régulièrement les primes et surprimes et justifier du tout à chaque demande annuelle du bailleur, par la remise
d’une police d’assurances ou une attestation de paiement des primes. A défaut pour le locataire d'exécuter cette
obligation, le bailleur pourra résilier de plein droit le contrat dans les formes et délais prévus au dernier alinéa de
l'article 7 de la loi n° 89-462 du 6 juillet 1989.

6.2 : Assurance du bailleur
Le bailleur doit se couvrir par une assurance de responsabilité civile à l'égard du locataire, et pour les accidents
survenus au locataire, notamment du fait d'un vice de construction et d'un mauvais entretien des lieux.
Article 7 : Obligations du locataire
7.1 : Obligations générales
Le locataire est tenu :
- de respecter toutes les prescriptions établies ou que le bailleur serait amené à établir dans l’intérêt de la
sécurité, de l’hygiène et de la bonne tenue de l’immeuble et de ses abords, conformément au Règlement
Sanitaire Municipal,
- d’observer tous actes réglementaires décidés par le Conseil d’Administration du bailleur relatifs aux conditions
de location ou d’occupation des logements gérés,
- de supporter à toute époque la responsabilité de tous dommages causés de son fait aux personnes et aux biens
dans les lieux loués ou toute autre partie du bâtiment,
- de n’accéder ou ne procéder à aucune installation, sauf accord expresse et écrit du bailleur, dans les locaux des
services généraux, toitures et terrasses des immeubles,
- de laisser exécuter les travaux d’amélioration des parties communes ou des parties privatives du même
immeuble, ainsi que les travaux nécessaires au maintien en état et à l’entretien normal des locaux loués (le
locataire autorise au préalable le bailleur à pénétrer dans les lieux loués),
- de satisfaire toutes les charges de ville, de police et de voirie dont les locataires sont habituellement tenus,
- de garer les bicyclettes et voitures d’enfants exclusivement dans les locaux ou emplacements prévus à cet effet,
- de transporter et vider les ordures ménagères jusqu’aux emplacements réservés à cet effet et respecter le tri
sélectif,
- de battre les tapis en veillant à ne pas souiller le revêtement extérieur de l’immeuble et ne pas causer de
nuisance au voisinage.
7.2 : Installations
Le locataire s’engage à :
• ne pas poser aux fenêtres des grillages de protection ou des stores sans autorisation expresse et écrite du
bailleur, celui-ci se réservant d’en imposer le modèle, la couleur et les dimensions,
• ne placer aux fenêtres, balcons ou loggias, ou sur les murs de l’immeuble, aucune enseigne ou inscription ou
aucun objet. L’installation d’antennes individuelles, de cages, de pots à fleurs et l’exposition de linge est
notamment interdite ; toutefois, par dérogation, le locataire pourra être autorisé par le bailleur, sur sa demande
écrite, à installer des pots à fleurs sur les appuis de fenêtres ou à l’extérieur des balcons ou des loggias, à
condition que ces installations offrent des garanties suffisantes de sécurité,
• prendre toutes les dispositions pour éviter le gel, la rupture des compteurs, canalisations et tuyaux traversant
les lieux loués,
• n’utiliser les ascenseurs que pour lui, sa famille et ses visiteurs, l’usage desdits ascenseurs par des enfants de
moins de douze ans non accompagnés étant formellement interdit. L’ascenseur est exclusivement réservé à
l’usage des personnes et dans les limites de charge fixées pour chaque appareil, et ne pourra être utilisé pour le
transport des meubles, marchandises ou matériels, sauf stipulation expresse du bailleur,
• indiquer d’une manière constante et lisible ses nom(s), prénom(s) et numéro de logement sur la boîte aux
lettres,
• ne pas jeter dans les vide-ordures des objets lourds et blessants, des cendres ou tout ce qui pourrait obstruer
l’installation,
• ne pas jeter dans les canalisations de l’évier ou des sanitaires des produits ou objets qui pourraient obstruer
l’installation,
• maintenir en parfait état d’entretien le jardin particulier, arbres, haies et clôtures. Il ne pourra y être édifié
aucune construction, même provisoire et en matériaux légers, ni apporté aucune modification aux clôtures sans
l’autorisation écrite du bailleur.
7.3 : Tenue des locaux
Le locataire est tenu aux obligations instaurées par les articles 1728 à 1735 du Code Civil et par les textes en
vigueur. Il s’engage notamment à tenir les lieux loués en bon état de propreté, de réparation et d’entretien
locatifs. A défaut, le bailleur pourra faire exécuter les travaux nécessaires aux frais du locataire.
Le locataire s’engage à se prêter aux visites d’inspection, d’entretien, de relevés de compteurs et de
désinsectisation que le bailleur se réserve d’effectuer ou de faire effectuer par des personnes spécialement
habilitées à cet effet en vue de s’assurer de l’hygiène, de la bonne tenue et de l’entretien du logement et de ses
équipements.
Le locataire veillera au nettoyage et à l'entretien régulier des ventilations naturelles ou mécaniques, évitant ainsi
qu'elles ne soient bouchées.
Le locataire observera les règlements sanitaires départementaux sur la déclaration des maladies contagieuses, la
destruction des parasites, rats, souris et insectes, le nettoyage et la désinfection.
Le locataire est tenu de ne pas transformer sans l’accord exprès et écrit du bailleur, les locaux et équipements.
Le bailleur peut, si le locataire a méconnu cette obligation, exiger la remise en état des locaux ou des
équipements au départ du locataire ou conserver les transformations effectuées sans que le locataire puisse
réclamer une indemnité pour les frais engagés. Le bailleur a toutefois la faculté d’exiger aux frais du locataire, la
remise immédiate des lieux en état lorsque les transformations mettent en péril le bon fonctionnement des
équipements ou la sécurité du local. Les travaux réalisés avec l’accord du bailleur sont à la charge exclusive du
locataire.
7.4 : Animaux
Le locataire s’engage à ne posséder d'animaux domestiques dans les lieux loués que dans la mesure où ils ne
sont pas source de nuisance ; les animaux ne peuvent circuler à l'extérieur du logement que tenus en laisse.
Toutes les dégradations qu'ils pourraient causer seront mises à la charge de leur propriétaire. Les dispositions
légales relatives aux animaux dangereux s’appliquent au présent contrat de location. La détention de chiens de
1
ère catégorie est interdite, de même de que la détention d’animaux en vue d’en faire du commerce (élevage).
7.5 : Stationnement des véhicules
Les véhicules doivent stationner aux emplacements réservés à cet effet.
Les parkings ne doivent être utilisés que pour le stationnement temporaire des véhicules en état de marche, à
l’exclusion des camions, remorques ou caravanes etc. Pour les véhicules qui ne sont plus en état de marche, le
bailleur se réserve le droit, après mise en demeure, de faire procéder à leur enlèvement, aux frais du propriétaire
dudit véhicule.
7.6 : Produits dangereux
Ne pas utiliser d'appareils bruyants, dangereux, ou incommodes, ni détenir de produits explosifs ou inflammables,
autres que ceux d'un usage domestique courant et autorisés par les règlements de sécurité. II n'utilisera
notamment ni appareils à fuel, ni bouteilles de gaz butane ou propane, sauf autorisation expresse du bailleur.
7.7 : Voisinage
Le locataire devra :
- entretenir, conjointement avec les autres locataires, à tour de rôle, les paliers, dégagements et l’escalier
commun menant à l’étage inférieur.
En cas de non-respect de cette obligation par l’un des locataires et après mise en demeure écrite non suivie
d’effet, le locataire défaillant se verra facturer le coût de l’intervention d’une entreprise ou d’un agent de
nettoyage.
- s’abstenir, en toute circonstance, lui et les personnes de son foyer, de tout ce qui pourrait troubler la tranquillité
ou nuire à la parfaite tenue de l’immeuble (cas d’ivrognerie, violences, tapages, conduite contraire aux bonnes
mœurs, bruits, éclats de voix, chants, musique, radio, télévision etc., en particulier entre 22 heures et 7 heures).
veiller à ce que les enfants ne jouent pas dans les escaliers et parties communes de l’immeuble, ainsi que sur les
pelouses, parterres, plantations d’ornement et leurs accessoires,
- ne laisser aucun objet dans les passages communs, vestibules, cours, escaliers, sur les paliers ou les
coursives,
- porter, sans délai, à la connaissance de la Société les cas de décès,
Article 8 : Obligations du bailleur
Le bailleur est tenu des obligations suivantes telles qu'elles sont définies à l'article 6 de la loi n° 89-462 du 6 juillet
1989 :
 - de délivrer au locataire et de maintenir le logement en bon état d'usage et de réparation ainsi que les
équipements mentionnés au contrat de location en bon état de fonctionnement ;
 - d'assurer au locataire la jouissance paisible du logement et, sans préjudice des dispositions de l'article
1721 du Code civil, de le garantir des vices ou défauts de nature à y faire obstacle hormis ceux qui, consignés
dans l'état des lieux, auraient fait l'objet de la clause expresse mentionné à l'article 6a) de la loi n° 89-462 du 6
juillet 1989 ;
 - d'entretenir les locaux en état de servir à l'usage prévu par le contrat et d'y faire toutes les réparations,
autres que locatives nécessaires au maintien en état et à l'entretien normal des locaux loués ;
- de ne pas s'opposer aux aménagements réalisés par le locataire, dès lors que ceux-ci ne constituent
pas une transformation de la chose louée.
Enfin, le bailleur ne garantit pas le locataire contre :
 - les troubles de fait ou actes délictueux dont serait victime le locataire de la part de colocataire ou de
tiers (article 1725 du Code civil);
 - les accidents survenus aux usagers des terrains de jeux, la surveillance des jeux incombant aux
parents et aux personnes auxquelles ceux-ci auraient confié leurs enfants;
 - les accidents résultant d'une infraction aux instructions données pour l'utilisation des ascenseurs;
 - les accidents résultant de l'obturation par le locataire des dispositifs d'aération ou de ventilation
conformes à la réglementation.
Il ne sera dû aux locataires aucune indemnité ou diminution de loyer pour des restrictions dans les services de
chauffage, de l'eau, du gaz, de l'électricité, ainsi qu'en cas d'infiltration d'eau dans les caves et parking en soussol,
dans la mesure où ces restrictions ou interruptions répondent aux conditions posées par l'article 1724 du
Code Civil ou ne constituent pas des diminutions ou suppressions de prestations stipulées au contrat au sens de
l'article 4 de la loi n° 89-462 du 6 juillet 1989.
Article 9 : Election de domicile et attribution de juridiction
Pour l'exécution du présent contrat, les parties élisent domicile:
 - le locataire dans les lieux loués,
 - le bailleur à son siège social.
Pour tout litige né de l'application du présent contrat, la seule juridiction compétente sera le tribunal compétent du
lieu de situation des locaux loués.
Fait en 2 exemplaires, à TOURS, le ……………………….
NOM Prénom
Signature Signature
Le Locataire Pour le bailleur, Le Directeur Général
Ces conditions générales constituent une annexe indissociable des conditions particulières du contrat de location
signé ce jour
*****

                                                    </textarea>
                                                </div>
                                                <div class="radio">
                                                    <label style="font-weight: bold;">
                                                        <input type="radio" name="soumContrat" class="soumContrat" value="accepter"> Accepter
                                                    </label>
                                                    <label style="font-weight: bold;">
                                                        <input type="radio" name="soumContrat" class="soumContrat" value="refuser"> Refuser
                                                    </label>
                                                </div>
                                                <button style="color: #1a2b3c;" id="pushContrat"  type="submit" class="btn btn-sucess" data-idreservation="{{ reservation[0].Reservation_id }}" data-idbien="{{ reservation[0].Bien_id }}" data-idclient="{{ reservation[0].Client_id }}">Enregistrer</button>
                                            </form>
                                        </div>
                                    </di>
                                </div>
                            </div>
                            <!--/.col-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>
        <!--/.col-->
    </div>
{% endblock %}