<!doctype html>
<html lang="fr">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{asset('admin/inc/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/inc/css/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/inc/css/style.css')}}">
    </head>
    <body>
        <div class="row moncontainer">
            <!-- head -->
            <header style="margin: auto;" class="col-sm-12 row">
                <figure class="figure col-sm-2 logos">
                    <img src="" class="figure-img img-fluid rounded" alt="logos de Soultana">
                    <figcaption class="figure-caption"></figcaption>
                </figure>
                <div class="col-sm-8">
                    &nbsp;
                </div>
                <figure class="figure col-sm-2 logos">
                    <img src="" class="figure-img img-fluid rounded" alt="Drapeau du Sénégal">
                    <figcaption class="figure-caption"></figcaption>
                </figure>
                <span class="col-sm-2" ></span>
                <h1 id"titre_page" class="col-sm-8">
                    CONTRAT DE LOCATION
                </h1>
                <span class="col-sm-2" ></span>
                <span class="col-sm-3" ></span>
                <h4 class="col-sm-6">LOGEMENT NON MEUBLÉ</h4>
                <span class="col-sm-3" ></span>
            </header>
            <!-- /. head -->
            <!-- contenu -->
            <div class="col-sm-12 body_contrat">
                <ul class="list-unstyled">
                    <li>
                        <h5>DÉSIGNATION DES PARTIES</h5>
                    </li>
                    <li>
                        <h5>OBJET DU CONTRAT</h5>
                    </li>
                    <li>
                        <h5>DATE DE PRISE D’EFFET ET DURÉE DU CONTRAT</h5>
                    </li>
                    <li>
                        <h5>CONDITIONS FINANCIÈRES</h5>
                    </li>
                    <li>
                        <h5>TRAVAUX</h5>
                    </li>
                    <li>
                        <h5>GARANTIES</h5>
                    </li>
                    <li>
                        <h5>CLAUSE DE SOLIDARITÉ</h5>
                    </li>
                    <li>
                        <h5>CLAUSE RÉSOLUTOIRE</h5>
                    </li>
                    <li>
                        <h5>LE CAS ÉCHÉANT, HONORAIRES DE LOCATION</h5>
                    </li>
                    <li>
                        <h5>AUTRES CONDITIONS PARTICULIÈRES</h5>
                    </li>
                    <li>
                        <h5>ANNEXES</h5>
                    </li>
                </ol>
            </div>
            <!-- /.contenu -->
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{asset('admin/inc/js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{asset('admin/inc/js/script.js')}}"></script>
        <script src="{{asset('admin/inc/js/jquery-ui/jquery-ui.min.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="{{asset('admin/inc/js/bootstrap.min.js')}}" ></script>
    </body>
</html>